In [1]:
print ("hello")

hello

In [2]:
print('This is my first program')

This is my first program

In [4]:
print("i love using program's")

i love using program's

In [5]:
print("let's\nupgrade")

let's
upgrade

In [6]:
print('let\'s upgrade')

let's upgrade

In [7]:
name = "mani"
marks = 96.656
age = 25
print("the name of the person is", name, "marks is", marks, "age is", age)

the name of the person is mani marks is 96.656 age is 25

In [13]:
print ("the name of person is %4s marks is %10.1f age is %10d"%(name, marks, age))

the name of person is mani marks is       96.7 age is         25

In [15]:
print(f"the name of person is {name} the marks is {marks} and age is {age} ")

the name of person is mani the marks is 96.656 and age is 25

In [2]:
x=y=10

In [3]:
x

10

In [4]:
y

10

In [5]:
x=20

In [6]:
y

10

In [7]:
id(x)

140716268758000

In [8]:
y=20

In [9]:
id(y)

140716268758000

In [10]:
x=20

In [11]:
id(y)

140716268758000

In [14]:
del x

NameError: name 'x' is not defined

In [15]:
y

20

In [16]:
del y

In [17]:
5**5

3125

In [18]:
6**6

46656

In [21]:
10-20

-10

In [22]:
25/5

5.0

In [23]:
10%3

1

In [24]:
10//3

3

In [25]:
10/3

3.3333333333333335

In [26]:
a = 10
b = 20 
a==b

False

In [27]:
c = 10
a==c

True

In [28]:
c<=b

True

In [29]:
str1 = "let's upgrade"
"p" in str1

True

In [32]:

"x" in str1

False

In [33]:
a = 10
b = 10
a==b

True

In [34]:
a is b

True

In [35]:
x = 3.5
y = 3.5
x==y

True

In [36]:

x is y

False

In [37]:
id(x)

2107315739120

In [38]:
id(y)

2107325854224